@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 32px;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 88px;
}

.list {
    list-style-type: none;
    background: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0;
}
.items {
    margin-right: 20px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
}

.button {
    border-color: #f69318;
    border-radius: 4px;
    color: #f69318;
    padding: 4px 16px;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}

.btn:hover {
    background-color: transparent;
    color: #f69318;
    border-color: #f69318;
    opacity: 0.7;
}

.logo {
    display: flex;
    margin-left: 36px;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}

.logo-food {
    color: #f69318;
}